<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/latest/cosmo/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
</head>

<body ng-app="hotsRank">

  <!-- app naviagtion can go here -->

  <nav class="navbar navbar-default" style="margin-bottom: 0px">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HOTS Rank</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{{isActive}}"><a href="#/heroes">Heroes <span class="sr-only">(current)</span></a></li>
        <li><a href="#/battlegrounds">Battlegrounds</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>
        <login-buttons></login-buttons>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!-- yield content here -->
  <div class="page-wrap" ng-view>

  </div>


<footer class="site-footer">

</footer>

</body>
