/* CSS declarations go here */
$white: #ffffff;
$darkestBlue: #00171f;
$navyBlue: #162054;
$tealBlue: #007ea7;
$lightBlue: #00a8e8;



@mixin background-gradient() {
  background: #0a5b99; /* Old browsers */
  background: -moz-linear-gradient(top,  $navyBlue 0%, $darkestBlue 51%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $navyBlue 0%, $darkestBlue 51%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $navyBlue 0%, $darkestBlue 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a5b99', endColorstr='#25333f',GradientType=0 ); /* IE6-9 */
}

* {
  margin: 0;
}
html, body {
  height: 100%;

}

// add background colors to the base components here

.heroes {
  @include background-gradient;
  height: 100%;
}

.battlegrounds {
  @include background-gradient;
  height: 100%;
}
// end background colors

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
  background-repeat:no-repeat;
  background-size:cover;

  background-color: $darkestBlue;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {
  background: white;
}
