<div ui-view="" class="battlegrounds">
  <div class="container">
    <div class="clearfix row">
      <div ng-repeat="bgThumbnail in $ctrl.thumbnail">
        <bg-thumbnail class="col-lg-4 col-md-4 col-sm-4 col-xs-6" style="padding-left:0px; padding-right:0px" thumbnail="bgThumbnail.src" bgname="bgThumbnail.name" bgurl="bgThumbnail.url"> </bg-thumbnail>
      </div>
    </div>
  </div>
</div>
