<template name="_loginButtonsAdditionalLoggedInDropdownActions">
  <a class="btn btn-success btn-block" id="login-buttons-members"
     href="/members/requests">
    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
  </a>
  <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Such</button>
</template>
