/*
  Place all compoment styles inside the heroes class selector
*/

$white: #ffffff;
$darkestBlue: #00171f;
$navyBlue: #003459;
$tealBlue: #007ea7;
$lightBlue: #00a8e8;

$meleeColor: #FF8C00;
$assassinColor: #ffa69e;
$supportColor: #84dcc6;
$specialistColor: #B22222;

$darkenAmount: 5;

@mixin button-color($color) {
  background-color: $color;
  border-color: $color;
  color: white;
  outline: none;
}

.heroClassSelector {

  padding-top: 1.2em;
  padding-bottom: 1.2em;

  .btn-specialist {
    @include button-color(darken($specialistColor, $darkenAmount));
  }

  .btn-specialist:hover{
    @include button-color(darken($specialistColor, $darkenAmount + 10));
  }

  .btn-specialist:focus{
      @include button-color(darken($specialistColor, $darkenAmount + 15));
      transform: translateY(.5em);
      transition: 0.05s ease-in-out;

  }


  .btn-warrior {
    @include button-color(darken($meleeColor, $darkenAmount));
  }

  .btn-warrior:hover {
    @include button-color(darken($meleeColor, $darkenAmount + 10));
  }

  .btn-warrior:focus {
    @include button-color(darken($meleeColor, $darkenAmount + 15));
    transform: translateY(.5em);
    transition: 0.05s ease-in-out;
  }

  .btn-support {
    @include button-color(darken($supportColor, $darkenAmount));
  }

  .btn-support:hover {
      @include button-color(darken($supportColor, $darkenAmount + 10));
  }

  .btn-support:focus {
      @include button-color(darken($supportColor, $darkenAmount + 15));
      transform: translateY(.5em);
      transition: 0.05s ease-in-out;
  }

  .btn-assassin {
    @include button-color(darken($assassinColor, $darkenAmount));
  }

  .btn-assassin:hover {
      @include button-color(darken($assassinColor, $darkenAmount + 10));

  }

  .btn-assassin:focus {
      @include button-color(darken($assassinColor, $darkenAmount + 15));
      transform: translateY(.5em);
      transition: 0.05s ease-in-out;
  }

}
