
<div ui-view="" class ="heroClassSelector container">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class= "btn btn-specialist"
              ng-click="$ctrl.role = 'Specialist'; $ctrl.buttonActive = false">Specialist</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-warrior" ng-click="$ctrl.role = 'Warrior'">Warrior</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-assassin" ng-click="$ctrl.role = 'Assassin'">Assassin</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-support" ng-click="$ctrl.role = 'Support'">Support</button>
    </div>
  </div>
</div>
