<div class="bgThumbnail">
  <a href="#/battlegrounds/{{$ctrl.bgurl}}">
    <div class="hovereffect">
      <img ng-src={{$ctrl.thumbnail}} class="img-responsive" width="100%" height="100%"/>
      <div class="overlay">
        <h2>{{$ctrl.bgname}}</h2>
      </div>
    </div>
  </a>
</div>

<!-- style1 -->
<!-- <div class="bgThumbnail">
  <a href="#/battlegrounds/{{$ctrl.bgurl}}">
    <div class="imgdiv">
      <img ng-src={{$ctrl.thumbnail}} width="136" height="120"/>
      <figcaption class="capdiv">
          {{$ctrl.bgname}}
      </figcaption>
    </div>
  </a>
</div> -->
