
<div ui-view="" class ="heroSearchBar container">
  <div class="input-group">
       <input type="text" class="form-control" ng-model="$ctrl.searchParams" placeholder="Search for...">
       <span class="input-group-btn">
         <button class="btn btn-primary" type="button" >{{$ctrl.searchParams || 'Go'}}</button>
       </span>
     </div><!-- /input-group -->
</div>
