
<div ui-view="" class="heroes">
  <div class="row">
    <hero-search-bar class="col-lg-12" search-params="$ctrl.searchParams"></hero-search-bar>
  </div>

  <div class="row">
    <hero-class-selector class="col-lg-12" role="$ctrl.selectedRole"> jkgjklajdgadgkal;j </hero-class-selector>
  </div>
  <section class="container ">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" ng-repeat="hero in $ctrl.heroes"  ng-if="$ctrl.search(hero) && $ctrl.isSelectedRole(hero)" >

      <hero-portrait hero="hero" hero-check-count="$ctrl.numHeroesChecked"> </hero-portrait>
    </div>
</section>

</div>
