/*
  Place all compoment styles inside the heroes class selector
*/

.bgDetail {

  // $BLUR: 1px;
  margin-bottom: 50%;

  .bgimage {
    background: no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 56.24%;
    // -webkit-filter: opacity(30%) blur($BLUR);
  }
  .ontop {
    color: red;
    position: absolute;
    top: 100px;
  }
}
