<div ui-view="" class ="bgDetail">
  <div class="bgimage" ng-style="{'background-image':'url(/images/battlegrounds/large/bg_{{bgUrl}}.jpg)'}">
    <div class="ontop">
      <nav class="floating-menu">
        <h3>RANK MENU</h3>
      </nav>
    </div>
  </div>
</div>
