
<div class="heroPortrait" ng-click="">

  <div class="hovereffect">
    <img class="iimg-responsive portrait center-block" width=100% height=100% src="{{$ctrl.getPortraitImgSrc()}}" alt="">
    <div class="overlay">
      <h2>{{$ctrl.hero.name}}</h2>
      <a class="info" href="#">{{$ctrl.hero.role}}</a>
    </div>
  </div>


</div>
