/*
  Place all compoment styles inside the heroes class selector
*/
$white: #ffffff;
$darkestBlue: #00171f;
$navyBlue: #162054;
$tealBlue: #007ea7;
$lightBlue: #00a8e8;


.heroPortrait {

  .portrait {
    background-color: $darkestBlue;
    border: 5px;
    border-color: black;
    border-style:solid;
    filter:blur(20px);
    filter:drop-shadow();

  }
  padding-bottom: 1em;
  padding-top: 1em;

  .hovereffect {

    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
  }

  .hovereffect .overlay {
    width:100%;
    height:100%;
    position: absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
  }

  .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
  }

  .hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:14px;
    font-size: 2vw;
    background:rgba(0,0,0,0.6);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    margin-top: 15%;
    margin-bottom: 5%;
  }

  .hovereffect a.info {
    font-size: 14px;
    font-size: 1.5vw;
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:20% 0 0;
    padding:5% 10%;
  }

  .hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
  }

  .hovereffect:hover img {

  }

  .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
  }

  .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
  }

  .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
  }











}
